/* 예매 공통 */
div.container-fluid.bookContainer {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	text-align: center;
}

div.container-fluid div#bgWrapper {
	background: url('../images/sub_visual_1.jpg') no-repeat;
	height: 500px;
	background-position: center center;
}

div.container-fluid div#bgWrapper div.headline {
	width: 200px;
	overflow: hidden;
	position: absolute;
	top: 40%;
	left: 45%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding-top: 28px;
}

div.container-fluid div#bgWrapper p.korHeadline {
	color: white;
	letter-spacing: -1.2px;
	font-size: 32px;
	font-weight: bold;
	line-height: 0.5em;
}

div.container-fluid div#bgWrapper p.engHeadline {
	letter-spacing: -0.8px;
	font-size: 22px;
	font-style: italic;
	color: rgba(255, 255, 255, 0.6);      
}

/* --------- */
div.container.bookWrapper div.book-step-wrapper {
	width: 100%;         
	margin: 0 auto;      
	/* border: 2px solid pink;
	background-color: #fff; */
	position: relative;
	overflow: hidden;   
	margin-bottom: 50px;                                       
}                        

/* 진행단계 */        
div.container.bookWrapper div.book-progress-wrapper{
	width: 100%;                                
	margin: 40px auto;
	margin-top: 80px;                      
	padding: 0;
	height: 50px;
	border: 1px solid #ddd;    
}                    

div.container.bookWrapper div.book-progress-wrapper ul{
	list-style: none;
	width: 100%;
	height: 49px;   
	margin: 0;      
	padding: 0;    
}

div.container.bookWrapper div.book-progress-wrapper ul li span.spanStep{
	font-weight: bold;
	color: #666;  
}

div.container.bookWrapper div.book-progress-wrapper ul li{
	float: left;
	height: 48px;
	line-height: 48px;
	width: 20%;
	border-left: 1px solid #ddd;
	letter-spacing: -0.5px; 
	color: #666;
	font-weight: bold;
}

/* 현재 진행 중인 메뉴 */
div.container.bookWrapper div.book-progress-wrapper ul li.selectStyle{
	background: #3d49a2;          
}

div.container.bookWrapper div.book-progress-wrapper ul li.selectStyle span.spanStep{
	color: white;
}

div.container.bookWrapper div.book-progress-wrapper ul li.selectStyle{
	color: white;
	font-weight: bold;
	font-size: 17px;
	letter-spacing: -0.6px;       
}
/* 현재 진행 중인 메뉴 끝 */

/* 단계 표시 */
span.spanStep{
	font-size: 22px;                   
}           

div.container.bookWrapper div.book-progress-wrapper ul li:first-child{
	border: none;
}         
            
div.container.bookWrapper div.book-progress-wrapper ul li a{
	height: 48px;                
	display: inline-block;
	width: 100%;
	color: #626262;     
	text-decoration: none;
	font-size: 17px;       
	letter-spacing: -0.6px;    
}

/* 달력 감싸는 div */  
div.datepickerWrapper{
	border: 1px solid #bebebe;
	display: inline-block;
	overflow: hidden;
	padding: 5px;
	float: left;                         
}                  
         
/* 달력 div */
div.calendar{
	/* display: inline-block; */
	/* float: left; */   
}             

/* 달력 */
.ui-datepicker {
	background-color: #fff;
/* 	border: 1px solid #ccc; */          
	width: 270px;        
	z-index: 999 !important;
}

.ui-datepicker-title{
	color: #353535;
}

.ui-datepicker-year {
	color: #353535;
}

.ui-datepicker-month {
	color: #353535;   
}
  
/* 일요일일 때 요일, 날짜 색상 */
 .ui-datepicker-week-end:first-child {
	color: rgb(247, 119, 106);
}

.ui-datepicker-calendar > tbody td:first-child a{
	color: rgb(247, 119, 106);
}               

/* 토요일 일 때 요일, 날짜 색상 */
/* .ui-datepicker-week-end:last-child{
	color: #8ec0e4;    
}         
      
.ui-datepicker-calendar > tbody td:last-child a {
	color: #8ec0e4;         
}   */  

.ui-datepicker-header {
	color: #ccc;    
	text-align: center;
	font-size: 14px;           
	font-weight: bold;               
	border-top: 1px solid #e6ebf0;            
	position: relative;  
	padding: 10px 0;       
	/* background-color: #f0f0f0;  */    
}

.ui-datepicker-header .ui-corner-all {
	position: absolute;
	top: 1px;       
	line-height: 14px;
	text-decoration: none;
	color: transparent;
	font-size: 0;
	width: 40px;
	height: 40px;
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==);
	background-position: center center;
	background-repeat: no-repeat;
}

.ui-datepicker-header .ui-corner-all.ui-datepicker-prev {
	left: 5px;
	transform: rotateY(180deg);
}

.ui-datepicker-header .ui-corner-all.ui-datepicker-next {
	right: 5px;
}

.ui-datepicker-calendar {
	color: #808080;
	font-size: 13px;      
	margin: 5px 20px 20px 20px;
 	border-bottom: 1px solid #dcdcdc; 
}

.ui-datepicker-calendar thead tr {
	border-top: 0;
}

.ui-datepicker-calendar tr {
 	border-top: 1px solid #dcdcdc;   
}

.ui-datepicker-calendar tr td, .ui-datepicker-calendar tr th {
	width: 45px;
	height: 32px;       
	text-align: center;
	vertical-align: middle;
}
   
.ui-datepicker-calendar tr td {
	border-right: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	/* position: relative; */          
}

/* 활성화된 날짜 */
.ui-datepicker-calendar tr td.ui-state-active{
	background: #ffe8e9;    
}  

.ui-datepicker-calendar tr td.ui-state-active a{
	color: rgb(90, 90, 90);  
}

/* 비활성화된 날짜 - custom */
.ui-datepicker-calendar tr td.my-ui-state-inactive{
	background: white!important;
}

.ui-datepicker-calendar tr td.my-ui-state-inactive span{
	/* color: #666!important; */   
}

/* 오늘 날짜 */
.ui-datepicker-calendar tr td.ui-datepicker-today {
	/* background-color: white!important; */
}
            
/* 날짜 선택 */
.ui-datepicker-calendar tr td.ui-datepicker-current-day{
	background-color: #ff868b;   
}

.ui-datepicker-calendar tr td.ui-datepicker-current-day a{
	color: white;
}

.ui-datepicker-calendar a {
	text-decoration: none;
	color: #808080;
	font-size: 13px;      
}

.ui-datepicker-other-month a {
	color: #d0d4d9;   
}

/* 날짜 비활성화 */
.ui-datepicker-unselectable.ui-state-disabled span{
	color: rgb(90, 90, 90);               
}
       
/* 예약가능정보 */
ul.selectDate{
	margin: 0 0 10px 20px;
	padding: 0;         
	width: 230px;  
	list-style: none;
	overflow: hidden;       
}
      
ul.selectDate li{
	display: inline-block;
	margin-left: 10px;
	font-size: 13px;
	color: #353535;
	position: relative;                   
}
         
div.spanActiveDate {
	width: 20px;     
	height: 15px;  
	background-color: #ffe8e9;
	display: inline-block;
	margin-right: 5px;          
}

div.spanActiveSelect{
	width: 20px;        
	height: 15px;         
	background-color: #ff868b;
	display: inline-block;  
	margin-right: 5px;            
}

span.spanTitle{
	padding: 0;
	margin: 0;
}

.datepickerWrapper h4{
	font-size: 17px;
	font-weight: bold;
	color: #535353;
	margin-left: 20px;
	margin-bottom: 10px;            
	margin-top: 5px;   
}   

/* 시간 조회 */
.PerfInfoWrapper{
	border-top: 1px solid #bebebe;
	border-right: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
	width: 420px;                                         
	height: 373px;             
	display: inline-block;
	padding: 10px;     
}      

/* 유의사항 */
div.bookNoticeWrapper{  
	width: 702px;                                                              
	overflow: hidden;
	margin-top: 10px;        
	display: inline-block;
	margin-right: 50px;
	border: 1px solid #bebebe;                 
}

span#spanNoticeTitle{
	background-color: #f0f0f0;              
	display: block;
	padding: 7px 7px 7px 15px;                  
	font-size: 17px;
	font-weight: bold;
	color: #535353;
}  

.ulNotice{
	list-style: none;
	margin: 0;
	padding: 10px;                
}

.ulNotice li{   
	display: block;
	text-align: left;
	font-size: 13px;
	letter-spacing: -0.5px;
	color: #666;         
}

span.spanUnderline{
	text-decoration: underline;
}

/* .col-md-9{
	padding-left: 50px;            
}
 */
/* 선택한 정보 나오는 곳 */  
div.selectPerfWrapper{
	width: 320px;                                                                                       
	height: 581px;                                                     
	background-color: #353535;
	display: inline-block;
	overflow: hidden;
	padding: 10px;        
}           

/* 공연이미지 */
div.chkImgContainer{
	width: 280px;
	height: 145px;           
}      

div.chkImgContainer img{        
	height: 145px;
	width: 110px;   
	float: left;     
}

div.perf-contents-wrapper{
	width: 150px;  
	height: 145px;         
	display: inline-block;
	margin-left: 11px;
	padding: 5px;    
}       

span.perfDateSpan{
	font-size: 13px;
	color: white;             
	letter-spacing: -0.5px;
	margin-top: 8px;          
	display: inline-block;
	width: 148px; 
}

span.perfTitleSpan{
	font-size: 14px;
	font-weight: bold;
	color: white;
	letter-spacing: -0.5px;
	width: 120px;  
	display: inline-block;
	width: 148px;            	
}

span.perfPlaceSpan{
	font-size: 13px;
	color: white;
	letter-spacing: -0.5px;
	width: 120px;
	display: inline-block; 
	margin-top: 5px;
	width: 148px;        
}

span.perfTimeSpan{
	display: inline-block;
	font-size: 13px;
	color: white;
	letter-spacing: -0.5px;
	width: 120px;
	width: 148px;   
}

/* 선택내역 */
div.chkMyContainer{
	width: 280px;
	height: 145px;
	/* background-color: yellow; */
	border-top: 1px solid #626262;    
	overflow: hidden;
	margin-top: 15px;                  
}

div.chkMyContainer h4{
	font-size: 16px;
	letter-spacing: -0.5px;
	color: #f04040;   
	font-weight: bold;
	padding-top: 8px;
	padding-bottom: 8px;         
}

div.chkMyContainer i{
	margin-right: 5px;
}

div.choice-info-wrapper{
	overflow: hidden;
	width: 300px;
	height: 115px;                          
}

span.info-contents-span{
	color: white;
	font-size: 15px;              
	letter-spacing: -0.5px;
	padding-left: 30px;   
	overflow: hidden;    
}  

div.payment-info-wrapper p.myTitle:first-child #book-price-span{
	float: right;         
}

div.payment-info-wrapper > p.myTitle:nth-child(2) #book-fee-span{
	float: right;                    
}

div.payment-info-wrapper > p.myTitle:nth-child(3) #book-delivery-span{
	float: right;                                           
}

div.payment-info-wrapper p.myTitle:last-child #book-discount-span{
	float: right; 
}
         
/* 결제내역 */
div.chkPaymentContainer{
	width: 280px;
	height: 150px;                 
	overflow: hidden;
	margin-top: 15px;           
}
                    
div.chkPaymentContainer h4{
	font-size: 16px;      
	letter-spacing: -0.5px;
	font-weight: bold;
	/* color: #ccc;  */   
	color: #f04040;                       
}

div.chkPaymentContainer i{
	margin-right: 5px;
}
                
/* 단계 이동하는 버튼 */
div.chkMyStepContainer{    
	width: 280px;
	height: 70px;                               
	overflow: hidden;        
	margin-top: 15px;    
}  

button#btnNextStep{
	border: 1px solid #4C4C4C;            
	width: 280px;
	height: 35px;
	color: white;
	background: #3b417d;                      
	font-size: 16px;      
	letter-spacing: -0.5px;
	font-weight: bold;  
}

span.spanTotalPrice{ 
	display: inline-block;
	height: 30px;
	width: 280px;
	margin-bottom: 5px;
	color: #fff;   
}  

span.spanTotalPriceTitle{
	font-size: 16px;               
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	color: white;
	padding-left: 5px;           
}

/* 가격 */
span.spanPerfTotalPrice{
	font-size: 16px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	color: #F2CB61;
	display: inline-block;
	width: 144px;                
	margin-left: 20px;           
	text-align: right;      
}

span.spanWon{
	color: white;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	float: right;
}

p.myTitle{
	margin-bottom: 10px;
	color: #8C8C8C;
	font-size: 15px;
	letter-spacing: -0.5px;
}

div.choice-info-wrapper > p.myTitle:nth-child(3){
	margin-bottom: 0;
	height: 50px;  
}

/* 회차 */
div.timeTitleWrapper{
	width: 35%;         
	height: 350px;
	display: inline-block;
	margin-right: 20px;     
	float: left;
	padding: 10px;
	text-align: center;  
}

div.timeTitleWrapper h4{
	font-size: 17px;
	font-weight: bold;
	color: #535353;
	margin-bottom: 15px;
	padding-bottom: 12px;         
	border-bottom: 1px solid #dcdcdc;
}

/* 관림일을 선택해주세요 */
p#noticeChkDateSpan{
	font-size: 14px;    
	letter-spacing: -0.5px;
	color: #666;
	font-weight: bold;
	width: 80px;
	display: inline-block;
	
}
  
div.chkTimeWrapper{
/* 	padding-top: 20px; */
}

input.btnSelectTime{
	width: 117px;      
	height: 35px;
	line-height: 32px;    
	margin-bottom: 10px;
	background-color: #ffe8e9;
	color: #666;            
	font-size: 15px;      
	font-weight: bold;
	border: 1px solid #dcdcdc;     
}

/* 회차 클릭했을 경우 */
input.btnSelectTime.btnActive{
	width: 117px;           
	height: 35px;
	line-height: 32px;    
	margin-bottom: 10px;
	background-color: #ff868b;
	color: #fff;              
	font-size: 15px;      
	font-weight: bold;
	border: 1px solid #dcdcdc;
}

/* 장소 */
div.seatTitleWrapper{
	border: 1px solid #f0f0f0;
	width: 58%;                                     
	height: 350px;
	display: inline-block;
	float: right;
	padding: 10px;                        
}

div.seatTitleWrapper h4{
	font-size: 17px;
	font-weight: bold;
	color: #535353;
	margin-bottom: 15px;
	padding-bottom: 12px;         
	border-bottom: 1px solid #dcdcdc;
}

p.pRemainSeat{
	font-size: 14px;    
	letter-spacing: -0.5px;
	color: #666;
}

        
div.ckhSeatContainer{
	font-size: 15px;         
	letter-spacing: -0.5px;
	color: #666;
	overflow: hidden;
	margin-bottom: 15px;
}

div.rDiv{
	display: inline-block;
	width: 15px;           
	height: 15px;       
	background-color: #B5B2FF;
	margin-right: 8px;
}

div.sDiv{
	background-color: #B2EBF4;
	display: inline-block;
	width: 15px;           
	height: 15px;
	margin-right: 8px;
}

div.aDiv{
	background-color: #FFDD73;
	display: inline-block;
	width: 15px;           
	height: 15px;
	margin-right: 8px;
}

div.bDiv{
	background-color: #BCE55C;
	display: inline-block;
	width: 15px;           
	height: 15px;
	margin-right: 8px;
}

div.nDiv{
	background-color: #FFA7A7;
	display: inline-block;
	width: 15px;           
	height: 15px;
	margin-right: 8px;
}        

span.verticalBar{
	margin: 0 10px;     
}

/* sweetalert */
.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  font-size: 13px;   
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);  
}

.swal-overlay {
  background-color: rgba(51, 51, 51, 0.45);                    
}

/* ================ 예매 3번째 단계 =============== */
span.mySelectSeatInfo:first-child{
	padding-left: 27px;                 
} 

span.mySelectSeatInfo:nth-child(3){
	padding-left: 83px;                 
}
  
span.mySelectSeatInfo{
	padding: 0 5px;
	display: inline-block; 
}

/* 02 좌석 선택 */
div.seatWrapper{
	border: 1px solid #BDBDBD;  
	padding: 40px 0;          
}

div.seat-contents-wrapper{
	text-align: center;
}

div.stageWrapper{
	width: 519px;                            
	background-color: #999;
	height: 50px;
	margin: 20px auto;
	margin-top: 0;
	line-height: 50px;
}
 
span.spanStageTitle{
	font-size: 20px;
	color: #fff;
	letter-spacing: 10px;                                   
}