@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

body, html{
	height: 100%;
	width: 100%;
}

body{
	font-family: 'Noto Sans KR', sans-serif;
}

ul{
	text-align: center;
}

/* ========== 네비게이션바 ========== */
.top-nav {
    height: 80px;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}

.top-nav .navbar-nav li .nav-link {
    color: #fff;
    font-size: 16px;
    padding: 1.1em 1.5em !important;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}

.top-nav.light-header{
	height: 60px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.23);
	transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}

.top-nav.light-header .navbar-nav li .nav-link {
    color: #212121;
    padding: 19px 15px;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}

.top-nav.light-header .navbar-right li .rightMenu{
	font-weight: 600;
	font-size: 16px;
    color: #212121;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;	
}


.top-nav .navbar-right li a.rightMenu{
	font-weight: 600;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
}

span.spanWrap{
	padding-left: 5px;
}

/* ====== 이미지 슬라이더 ====== */
.intro{
	float: left;
	width:100%;
	display: flex;
	align-items:center;
	height:100%;
	position: relative;
	z-index: 1;
}

.intro .carousel-item{
	height: 100vh;
}

.intro .carousel-item::before{
	position: absolute;
	width:100%;
	height: 100vh;
}

/* ====== 서브메뉴 ====== */

ul li.drop {
	position: relative;
}

.dropOut .triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
	top: -8px;
	left: 50%;
	margin-left: -8px;
}
.dropdownContain {
	width: 160px;
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -80px; /* half of width */
	top: -400px;
	text-align: center;
}
.dropOut {
	width: 160px;
	background: white;
	float: left;
	position: relative;
	margin-top: 0px;
	opacity: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

.dropOut ul {
	float: left;
	padding: 10px 0;
	list-style: none;
}
.dropOut ul li {
	text-align: left;
	float: left;
	width: 140px;
	padding: 12px 0 10px 15px;
	margin: 0px 10px;
	color: #777;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background .1s ease-out;
	-moz-transition: background .1s ease-out;
	-ms-transition: background .1s ease-out;
	-o-transition: background .1s ease-out;
	transition: background .1s ease-out;
	border: 2px solid blue;
}

.dropOut ul li a{
	border: 2px solid green;
	
}

.dropOut ul li:hover {
	background-color: gray;
}

ul li:hover a { color: black; text-decoration: none;}
ul li:hover .dropdownContain { top: 49px; }
ul li:hover .underline { border-bottom-color: #777; }
ul li:hover .dropOut { opacity: 1; margin-top: 8px; }