/* 모바일용 */         
@media all and (max-width: 480px){
	/* 공연정보 타이틀 부분 */
	div.container-fluid.facilitiesContainer {
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		position: relative;
		overflow: hidden;
		text-align: center;
	}
	
	div.container-fluid.facilitiesContainer div#bgWrapper {
		background: url('../images/sub_visual_3.jpg') no-repeat;
	 	height: 350px;        
		background-position: center center;
	}
	
	div.container-fluid div#bgWrapper div.headline {
		width: 250px;  
		overflow: hidden;
		position: absolute;
		top: 40%;
		left: 23%;          
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		padding-top: 28px;
	}
	
	div.container-fluid div#bgWrapper p.korHeadline {
		color: white;
		letter-spacing: -1.2px;
		font-size: 32px;
		font-weight: bold;
		line-height: 0.5em;
	}
	
	div.container-fluid div#bgWrapper p.engHeadline {
		letter-spacing: -0.8px;
		font-size: 22px;
		font-style: italic;
		color: rgba(255, 255, 255, 0.6);
	}
	
	/* 대구오페라하우스 */
	div.container-fluid.mapContainer {
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		position: relative;
		overflow: hidden;
		text-align: center;
	}
	
	div.container-fluid.mapContainer div#bgWrapper {
		background: url('../images/sub_visual_5.jpg') no-repeat;
	 	height: 350px;        
		background-position: center center;
	}		
	
}

/* 모바일 태블릿 사이 너비 */
@media (min-width: 481px) and (max-width: 767.5px) { 
	/* 공연정보 타이틀 부분 */
	div.container-fluid.facilitiesContainer {
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		position: relative;
		overflow: hidden;
		text-align: center;
	}
	
	div.container-fluid.facilitiesContainer div#bgWrapper {
		background: url('../images/sub_visual_3.jpg') no-repeat;
	 	height: 380px;        
		background-position: center center;
	}
	
	div.container-fluid div#bgWrapper div.headline {
		width: 250px;  
		overflow: hidden;
		position: absolute;
		top: 40%;
		left: 33%;     
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		padding-top: 28px;
	}
	
	div.container-fluid div#bgWrapper p.korHeadline {
		color: white;
		letter-spacing: -1.2px;
		font-size: 32px;
		font-weight: bold;
		line-height: 0.5em;
	}
	
	div.container-fluid div#bgWrapper p.engHeadline {
		letter-spacing: -0.8px;
		font-size: 22px;
		font-style: italic;
		color: rgba(255, 255, 255, 0.6);
	}
	
	/* 대구오페라하우스 */
	div.container-fluid.mapContainer {
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		position: relative;
		overflow: hidden;
		text-align: center;
	}
	
	div.container-fluid.mapContainer div#bgWrapper {
		background: url('../images/sub_visual_5.jpg') no-repeat;
	 	height: 350px;        
		background-position: center center;
	}	
	
}


/* 태블릿 */
@media all and (min-width: 768px) {
	/* 공연정보 타이틀 부분 */
	div.container-fluid.facilitiesContainer {
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		position: relative;
		overflow: hidden;
		text-align: center;
	}
	
	div.container-fluid.facilitiesContainer div#bgWrapper {
		background: url('../images/sub_visual_3.jpg') no-repeat;
	 	height: 420px;        
		background-position: center center;
	}
	
	div.container-fluid div#bgWrapper div.headline {
		width: 250px;  
		overflow: hidden;
		position: absolute;
		top: 40%;
		left: 38%;   
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		padding-top: 28px;
	}
	
	div.container-fluid div#bgWrapper p.korHeadline {
		color: white;
		letter-spacing: -1.2px;
		font-size: 32px;
		font-weight: bold;
		line-height: 0.5em;
	}
	
	div.container-fluid div#bgWrapper p.engHeadline {
		letter-spacing: -0.8px;
		font-size: 22px;
		font-style: italic;
		color: rgba(255, 255, 255, 0.6);
	}
	
	/* 대구오페라하우스 */
	div.container-fluid.mapContainer {
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		position: relative;
		overflow: hidden;
		text-align: center;
	}
	
	div.container-fluid.mapContainer div#bgWrapper {
		background: url('../images/sub_visual_5.jpg') no-repeat;
	 	height: 420px;        
		background-position: center center;
	}	
		
	
}



/* 데스크탑 (가로 해상도가 992px보다 크고 1199px 보다 작은 화면에 적용) */
@media (min-width: 992px) and (max-width: 1245.9px) {
	/* 공연정보 타이틀 부분 */
	div.container-fluid.facilitiesContainer {
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		position: relative;
		overflow: hidden;
		text-align: center;
	}
	
	div.container-fluid.facilitiesContainer div#bgWrapper {
		background: url('../images/sub_visual_3.jpg') no-repeat;
	 	height: 500px;        
		background-position: center center;
	}
	
	div.container-fluid div#bgWrapper div.headline {
		width: 250px;  
		overflow: hidden;
		position: absolute;
		top: 40%;
		left: 40%;   
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		padding-top: 28px;
	}
	
	div.container-fluid div#bgWrapper p.korHeadline {
		color: white;
		letter-spacing: -1.2px;
		font-size: 32px;
		font-weight: bold;
		line-height: 0.5em;
	}
	
	div.container-fluid div#bgWrapper p.engHeadline {
		letter-spacing: -0.8px;
		font-size: 22px;
		font-style: italic;
		color: rgba(255, 255, 255, 0.6);
	}
	
	/* 대구오페라하우스 */
	div.container-fluid.mapContainer {
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		position: relative;
		overflow: hidden;
		text-align: center;
	}
	
	div.container-fluid.mapContainer div#bgWrapper {
		background: url('../images/sub_visual_5.jpg') no-repeat;
	 	height: 500px;        
		background-position: center center;
	}	
	
}


/* 큰화면 데스크탑 (가로 해상도가 1200px 보다 큰 화면에 적용) */
@media all and (min-width: 1246px) {
	/* 공연정보 타이틀 부분 */
	div.container-fluid.facilitiesContainer {
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		position: relative;
		overflow: hidden;
		text-align: center;
	}
	
	div.container-fluid.facilitiesContainer div#bgWrapper {
		background: url('../images/sub_visual_3.jpg') no-repeat;
	 	height: 500px;        
		background-position: center center;
	}
	
	div.container-fluid div#bgWrapper div.headline {
		width: 250px;  
		overflow: hidden;
		position: absolute;
		top: 40%;
		left: 45%;
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		padding-top: 28px;
	}
	
	div.container-fluid div#bgWrapper p.korHeadline {
		color: white;
		letter-spacing: -1.2px;
		font-size: 32px;
		font-weight: bold;
		line-height: 0.5em;
	}
	
	div.container-fluid div#bgWrapper p.engHeadline {
		letter-spacing: -0.8px;
		font-size: 22px;
		font-style: italic;
		color: rgba(255, 255, 255, 0.6);
	}
	
	/* 대구오페라하우스 */
	div.container-fluid.mapContainer {
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		position: relative;
		overflow: hidden;
		text-align: center;
	}
	
	div.container-fluid.mapContainer div#bgWrapper {
		background: url('../images/sub_visual_5.jpg') no-repeat;
	 	height: 500px;        
		background-position: center center;
	}
}


