/* 공연정보 타이틀 부분 */
div.container-fluid.facilitiesContainer {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	text-align: center;
}

div.container-fluid.facilitiesContainer div#bgWrapper {
	background: url('../images/sub_visual_3.jpg') no-repeat;
 	height: 500px;        
	background-position: center center;
}

div.container-fluid div#bgWrapper div.headline {
	width: 200px;
	overflow: hidden;
	position: absolute;
	top: 40%;
	left: 45%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding-top: 28px;
}

div.container-fluid div#bgWrapper p.korHeadline {
	color: white;
	letter-spacing: -1.2px;
	font-size: 32px;
	font-weight: bold;
	line-height: 0.5em;
}

div.container-fluid div#bgWrapper p.engHeadline {
	letter-spacing: -0.8px;
	font-size: 22px;
	font-style: italic;
	color: rgba(255, 255, 255, 0.6);
}