div.container.myWrapper{
	background-image: url("../images/imgbg.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 40px;
}

div.container.myWrapper div.bannerInner{
	width: 1180px;           
	margin: 10px auto;
}

div.container.myWrapper div.bannerWrap{
	display: inline-block;
	margin-left: 30px;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
}

div.container.myWrapper div.bannerWrap img{
	height: 265px;
	width: 250px;
	border-radius: 5px;
}

/* ===== 배너  ===== */
div.container.myWrapper div.bannerWrap div.contents{
	display: inline-block;
	position: absolute;
	top: 20px;                 
	left: 20px;                                   
}   

div.container.myWrapper div.bannerWrap div.contents span.engTitle {
	color: #747D89;
	display: block;
	font-size: 14px;
	letter-spacing: -0.8px;     
}

div.container.myWrapper div.bannerWrap div.contents span.korTitle{
	color: #000;
	display: block;
	font-size: 26px;
	letter-spacing: -1.0px;
	font-weight: 900;
}

div.container.myWrapper div.bannerWrap div.contents a.btn{
	color: #f04040;
    font-size: 11px;
    font-weight: bold;
    background: none;
    border: 1px solid #f04040;    
    padding: 2px 10px; 
    margin-top: 10px;
    margin-left: 80px;   
    line-height: 16px;
    border-radius: 20px;
}

div.container.myWrapper div.bannerWrap div.contents a.btn:hover{
	color: #fff;
	background: #f04040;          
}

/* ===== 미니배너 ===== */
div.container.myWrapper div.noticeInner{
	width: 1400px;           
	margin: 0 auto;
	/* border: 2px solid yellow; */
	margin-bottom: 20px;                 
}

div.container.myWrapper div.noticeInner div.miniBannerContainer{                    
	float: left;
	margin-right: 30px;  /* 배너와 동영상 사이 간격 */
	width: 250px;  
}

div.container.myWrapper div.noticeInner div.miniBannerWrap{
	display: inline-block;
	width: 250px;
	height: 95px;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}

div.container.myWrapper div.noticeInner div.miniBannerWrap img{
	width: 250px;
	height: 95px;
	margin-bottom: 13px;
	transition: all 1s;          
}

div.container.myWrapper div.noticeInner div.miniBannerWrap img:hover{
	transform: scale(1.1) /* 중심을 기준으로 1.1배 확대된다 */
}

/* 미니 배너 1 */
div.container.myWrapper div.noticeInner div.miniBannerWrap div.miniContents{
	display: inline-block;
	position: absolute;
	top: 20px;                       
	left: 20px;                        
}

div.container.myWrapper div.noticeInner div.miniBannerWrap div.miniContents span.engMiniTitle{
	color: #747D89;
	display: block;
	font-size: 14px;
	letter-spacing: -0.8px; 
}

div.container.myWrapper div.noticeInner div.miniBannerWrap div.miniContents span.korMiniTitle{
	color: #000;
	display: block;
	font-size: 22px;
	letter-spacing: -1.0px;
	font-weight: 900;   
}


/* ===== 동영상 ===== */
div.container.myWrapper div.noticeInner div.youtubeWrap{
	clear: both;
	display: inline-block;
}