/* 커뮤니티 타이틀 부분 */
h2{
	margin-bottom: 30px;
	letter-spacing: -0.8px;
}
div.container-fluid.noticeContainer {
	width: 100%;
	height: auto;
	margin: 0;
 	padding: 0;  
	position: relative;
	overflow: hidden;
	text-align: center;
}

div.container-fluid div#bgWrapper {
	background: url('../images/sub_visual_4.jpg') no-repeat;
	height: 500px;
	background-position: center center;
}

div.container-fluid div#bgWrapper div.headline {
	width: 200px;
	overflow: hidden;
	position: absolute;
	top: 40%;
	left: 45%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding-top: 28px;
}

div.container-fluid div#bgWrapper p.korHeadline {
	color: white;
	letter-spacing: -1.2px;
	font-size: 32px;
	font-weight: bold;
	line-height: 0.5em;
}

div.container-fluid div#bgWrapper p.engHeadline {
	letter-spacing: -0.8px;
	font-size: 22px;
	font-style: italic;
	color: rgba(255, 255, 255, 0.6);
}

/* ========= 테이블 ============ */
div.container-fluid.tableContainer{
	width: 75%;                                                                   
	padding-top: 60px;              
}
.table tbody{
	color: #6c6c7c;
	letter-spacing: -0.8px;
}

.table-wrapper {
	background: #fff;
	padding: 20px 25px;
	margin: 30px auto;
	margin-bottom: 80px;
	border-radius: 3px;
	padding-bottom: 0!important;  
}

.table-wrapper .btn {
	float: right;
	color: #333;
	background-color: #fff;
	border-radius: 3px;
	border: none;
	outline: none !important;
	margin-left: 10px;
}

.table-wrapper .btn:hover {
	color: #333;
	background: #f2f2f2;
}

.table-wrapper .btn.btn-primary {
	color: #fff;
	background: #2a2f70;
}

.table-wrapper .btn.btn-write{
	color: #fff;
	background: #f04040;               
}
.table-wrapper .btn.btn-write:hover{
	background: #ff6363;        
}

.table-wrapper .btn.btn-primary:hover {
	background: #575e96;    
}

.table{       
	border-top: 2px solid #2a2f70!important;    
}

.table-filter .filter-group {
	float: right;
	margin-left: 15px;
}

.table-filter input, .table-filter select {
	height: 34px;
	border-radius: 3px;
	border-color: #ddd;
	box-shadow: none;
}
        
.table-filter {
	padding: 5px 0 15px;
	margin-bottom: 5px;
}

.table-filter .btn {
	height: 34px;
}

.table-filter label {
	font-weight: normal;
	margin-left: 10px;
}

.table-filter select, .table-filter input {
	display: inline-block;
	margin-left: 5px;
}

.table-filter input {
	width: 200px;
	display: inline-block;
}

.filter-group select.form-control {
	width: 110px;
}

table.table tr th, table.table tr td {
	border-color: #e9e9e9;
	vertical-align: middle;
}

table.table tr th:first-child {
	width: 120px!important;        
	background-color: #f0f0f0;
	text-align: center;
	padding: 12px 15px;   
}

table.table tr th.firstWrapper{
	background-color: white!important;       
	text-align: left;
	padding-left: 30px;                   
}

table.table tr td{
	padding-left: 20px;
	padding: 15px 30px;                               
}

table.table tr th:last-child {
	width: 120px;     
}


table.table-striped tbody tr:nth-of-type(odd) {
	background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
	background: #f5f5f5;
}

table.table th i {
	font-size: 13px;
	margin: 0 5px;
	cursor: pointer;
}

table.table td a {
	display: inline-block;
	text-decoration: none;
	color: #6c6c7c;              
	letter-spacing: -0.8px;
}
              
table.table td a:hover {
	color: #000;            
}

table.table td a.view {
	width: 30px;
	height: 30px;
	color: #2196F3;
	border: 2px solid;
	border-radius: 30px;
	text-align: center;
}

table.table td a.view i {
	font-size: 22px;
	margin: 2px 0 0 1px;
}

.status {
	font-size: 30px;
	margin: 2px 2px 0 0;
	display: inline-block;
	vertical-align: middle;
	line-height: 10px;
}

.text-success {
	color: #10c469;
}

.text-info {
	color: #62c9e8;
}

.text-warning {
	color: #FFC107;
}

.text-danger {
	color: #ff5b5b;
}

/* 페이지 */
.pagination {
	margin: 40px 0 30px;                                      
}

.pagination li a {
	border: none;
	min-width: 30px;
	min-height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 4px !important;
	text-align: center;
	padding: 0;
	font-size: 13px;          
}

.pagination li a:hover {
	color: #666;
}

.pagination li.active a, .pagination li.active a.page-link {
	background: #2a2f70;      
}

.pagination li.active a:hover {
	background: #575e96;
}

.pagination li:first-child a, .pagination li:last-child a {
	padding: 0 10px;
}

.pagination li.disabled a {
	color: #ccc;
}

.pagination li i {
	font-size: 17px;
	position: relative;
	top: 1px;
	margin: 1px 2px;
}


/* 검색 셀렉트 */
div.filter-group select{
	font-size: 14px;
	letter-spacing: -0.5px;
	color: #575e96;
	font-weight: bold;
	padding-left: 5px;      
}

/* 공지사항 알림 */
tbody td.spanNotice{
	font-weight: bold;
	color: #2a3072;        
}


/* ============ 공지사항 읽기 ============== */
td span.spanTitle{
	color: #4c4c63;
	font-weight: bold;
	font-size: 17px;   
}

span.spanDate{
	float: right;
	color: #888891;
}

span.spanWriter, span.spanFile{
	color: #888891;
}

span.spanFile{
	margin-right: 50px;  
}

td.notice-content{
	padding: 40px 30px!important;      
}

span.fileList{
	color: #666;
	font-weight: bold;               
}

div.btnWrapper{
	margin: 30px auto;
	margin-bottom: 80px!important;     
	width: 40%;                 
	overflow: hidden;
	text-align: center;
}

a.btnGoList{
	padding: 8px 15px;              
	background-color: #2a3072;
	border: 1px solid #2a3072;
	color: white;
	display: inline-block;  
}

a.btnPrint{
	padding: 8px 15px;  
	border: 1px solid #2a3072;
	color: #2a3072;
	display: inline-block;
	margin-left: 5px;    
}

a.btnPrint:hover{
	color: #2a3072;
}

#printarea{
	background: #fff;
	padding: 20px 25px;
	margin: 30px auto;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

/* 공지사항 글 읽을 때 삭제, 수정 버튼 */
a.btnModify{
	padding: 8px 15px;  
	border: 1px solid #e08e0b;  
	background-color: #f39c12;
	color: white;  
	display: inline-block;
	margin-left: 5px;
}

a.btnDelete{
	padding: 8px 15px;  
	border: 1px solid #d73925;
	background-color: #dd4b39;
	color: white;  
	display: inline-block;
	margin-left: 5px;
}
/* ====== 공지사항 등록하기 ======== */
div.noticeRegisterWrapper{                      
	width: 65%;                                                                     
	padding-top: 60px;
	margin: 0 auto;                   
}

div.noticeRegisterWrapper h2{
	margin-bottom: 40px;
	letter-spacing: -0.8px;
}

.register-contents-wrapper{
	border-top: 2px solid #2a3072;   
	overflow: hidden;       
}

/* 공지사항 등록 체크박스 */
.checkbox label:after{
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr{
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
    margin-top: 2px;        
}      

.checkbox .cr .cr-icon{
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 52%;              
    left: 20%;
    color: #f04040;  
}

.checkbox label{
	margin-bottom: 0;
}

.checkbox label input[type="checkbox"]{
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon{
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon{
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr{
    opacity: .5;
}

/* 공지사항 글쓰기 버튼 */
#btnConfirm{
	background-color: #2a3072;
	border: 1px solid #2a3072;
	color: white;
	width: 88px;   
	height: 44px;
	line-height: 44px;
	font-size: 15px;  
}

#btnCancel{
	background-color: #fff;
	color: #2a3072;
	border: 1px solid #2a3072;
	width: 88px;   
	height: 44px;
	line-height: 44px;
	font-size: 15px;
	margin-left: 5px;       
}

input{
	border: none;
	color: #666;
	letter-spacing: -0.5px;  
}

input#writer{
	font-weight: bold;
}

input#title{
	width: 35%;                             
}

/* ==== 공지사항 수정, 취소 버튼 ==== */
#btnModifyConfirm{
	background-color: #2a3072;
	border: 1px solid #2a3072;
	color: white;
	width: 88px;   
	height: 44px;
	line-height: 44px;
	font-size: 15px;
}

#btnModifyCancel{
	background-color: #fff;
	color: #2a3072;
	border: 1px solid #2a3072;
	width: 88px;   
	height: 44px;
	line-height: 44px;
	font-size: 15px;
	margin-left: 5px; 
}
