div.carouselWrapper{
		display: none;
	}


/* 태블릿 */
@media all and (min-width:768px) and (max-width: 1023px) {
	div.carouselWrapper{
		display: none;
	}
}
  
/* PC */
@media all and (min-width:1024px) {
	div.carouselWrapper{
		position: relative;
		display: block;
	}
	
	div.carouselWrapper > div.container{
		width: 1000px;
		margin: 0 auto;
		padding-left: 30px;   
		padding-right: 10px;    
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	div#myCarousel div.item{
		text-align: center;
		margin: 0 0 0 5px;
		width: 285px;
		height: 375px;
		border: 1px solid #bfbfbf;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;   
	}
	
	div#myCarousel div.item > div.tag-blue{
		position: absolute;
		width: 80px;
		height: 80px;
		top: 0;  
		left: 5px;    
	}
	
	div#myCarousel div.item > div.tag-blue span.category{
		color: white;
		font-weight: 900;
		font-size: 13px; 
		position: fixed;
		left: 17px;  
		top: 10px;
		line-height: 1.1em;   
	}
	
	div#myCarousel div.item div.img-box{  
		width: 283px;
		height: 283px;
	}
	
	div#myCarousel div.item div.img-box img{
		width: 283px;
		height: 283px;      
	}
	
	div#myCarousel div.item div.img-hover{
		width: 285px;
		height: 285px;
		background-color: rgba(0, 0, 0, 0.7);                             
		position: absolute;
		top: 0px;
		left: 5px;
		display: none;
	}
	
	div#myCarousel div.item div.img-hover p.showTitle{
		color: white;
		font-size: 18px;
		letter-spacing: -1.0px;
		padding-top: 100px;      
	}
	
	.icon-background{
		color: #ffc000;  
	}
	
	a.fa-stack.fa-lg{
		color: #353535; 
	}
	
	div#myCarousel div.item-details p.day{
		color: #000;
		font-size: 56px;
		float: left;
		margin: 0;
		letter-spacing: -1.8px;
		padding-left: 15px;                      
	}
	
	div#myCarousel div.item-details div.contents{
		display: inline-block;
		text-align: left;
		text-overflow: ellipsis;
		width: 180px;                            
		height: 60px;                
		overflow: hidden;
		white-space: nowrap;
		padding: 5px;
		font-size: 16px;
		color: #000;
		letter-spacing: -1.0px;
		position: absolute;
		bottom: 15px;           
		right: 40px;            
	}
	
	.owl-carousel .owl-next, .owl-carousel .owl-prev {
	  position: absolute;
	  top: 35%;
	}
	
	.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{ 
		font-size: 50px;
		color: #D8D8D8;
		outline: none;	/* 버튼 클릭 시 파란 윤곽선 표시 안되게 함 */  
	}
	
	/* 위치 */
	.owl-carousel .owl-prev {
	  left: -90px;
	}
	.owl-carousel .owl-next {
	  right: -90px;   
	}
	
	div.owl-dots{
		width: 0;
		height: 0;
	}
}