<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.BookMapper">
	
	<resultMap type="PerformanceVO" id="resultPerf">
		<result column="facilities_no" property="fno.facilitiesNo"/>
		<result column="zone_cnt" property="fno.zoneCnt"/>
		<result column="total_seatCnt" property="fno.totalSeatCnt"/>
		<result column="facilities_name" property="fno.facilitiesName"/>
		<result column="r_seat_cnt" property="fno.rSeatCnt"/>
		<result column="s_seat_cnt" property="fno.sSeatCnt"/>
		<result column="a_seat_cnt" property="fno.aSeatCnt"/>
		<result column="b_seat_cnt" property="fno.bSeatCnt"/>  
	</resultMap>    
	
	<!-- 공연이름으로 공연정보 가지고 오기 -->
	<select id="selectListByShowName" resultMap="resultPerf">
		select show_code, show_name, show_type, total_time, start_time, show_startdate, show_enddate, show_image_path, seat_category,
		remain_seat, r_remain_seat, s_remain_seat, a_remain_seat, b_remain_seat, facilities.facilities_no, zone_cnt, total_seatCnt, facilities_name, r_seat_cnt, s_seat_cnt, a_seat_cnt, b_seat_cnt
		from performance left join facilities on performance.facilities_no = facilities.facilities_no
	    where show_name = #{showName}                 
	</select>  
	
	<select id="perfListAllByShowName" resultMap="resultPerf">  
		select min(show_startdate) as show_startdate, max(show_startdate) as show_enddate, show_code, show_name, show_type, total_time, 
		start_time, show_image_path, seat_category, remain_seat, r_remain_seat, s_remain_seat, a_remain_seat, b_remain_seat,   
		facilities.facilities_no, facilities_name, total_seatCnt, zone_cnt, r_seat_cnt, s_seat_cnt, a_seat_cnt, b_seat_cnt
		from performance left join facilities on performance.facilities_no = facilities.facilities_no
		where show_name = #{showName}         
	</select>
	
	
	
	<!-- 검색 -->
	<select id="searchPerformance" resultMap="resultPerf" parameterType="hashmap">
		select show_code, show_name, show_type, total_time, start_time, show_startdate, show_enddate, show_image_path, seat_category,
		remain_seat, r_remain_seat, s_remain_seat, a_remain_seat, b_remain_seat, facilities.facilities_no, zone_cnt, total_seatCnt, facilities_name, r_seat_cnt, s_seat_cnt, a_seat_cnt, b_seat_cnt
		from performance left join facilities on performance.facilities_no = facilities.facilities_no
		<include refid="whereSql" />
	</select>
	
	<sql id="whereSql">
		<where>
			<if test="show_name != null">        
				AND show_name = #{showName}                  
			</if>
			<if test="bookDate != null">
				and show_startdate = #{bookDate}
			</if>        
			<if test="bookTime != null">
				and start_time = #{bookTime}
			</if>	                     
		</where>
	</sql>
	
	
	<!-- 아이디 검색해서 회원 정보 가지고 오기 -->
	<select id="readMember" resultType="MemberVO">
		select * from tbl_member
		where id = #{id}
	</select>
	
    
    <resultMap type="SeatVO" id="resultSeat">
		<result column="zone_cnt" property="facilitiesNo.zoneCnt"/>
		<result column="total_seatCnt" property="facilitiesNo.totalSeatCnt"/>
		<result column="r_seat_cnt" property="facilitiesNo.rSeatCnt"/>
		<result column="s_seat_cnt" property="facilitiesNo.sSeatCnt"/>
		<result column="a_seat_cnt" property="facilitiesNo.aSeatCnt"/>
		<result column="b_seat_cnt" property="facilitiesNo.bSeatCnt"/>  
		<result column="facilities_name" property="facilitiesNo.facilitiesName"/>
		<result column="facilities_no" property="facilitiesNo.facilitiesNo"/>
	</resultMap> 

   <!-- 좌석 -->
   <select id="getSeatInfo" resultMap="resultSeat">  
		select f.facilities_no, zone_cnt, total_seatCnt, r_seat_cnt, s_seat_cnt, a_seat_cnt, b_seat_cnt, loc_code, 
		`zone`, start_loc, end_loc
		from seat s join facilities f on f.facilities_no = s.facilities_no
		where loc_code = #{locCode}   
   </select>
   
   <!-- 예약 좌석 정보 -->
   <select id="getResvSeat" resultType="ResvSeatVO">
   		select * from resv_seat where resv_zone = #{resvZone} and resv_num = #{resvNum}
   </select>         


	<!-- 예약완료된 좌석 정보 -->
	<select id="getFinishResvSeat" resultType="BookVO">
		select * from book
		where book_state = 0 and show_code = #{showCode}  
	</select>

	<!-- 임시좌석 -->
	<insert id="insertTempSeat">
		insert into resv_seat (resv_zone, resv_num, show_code) values
		(#{selectSeatZone}, #{selectSeatNum}, #{selectShowCode})  
	</insert>
	  
	<select id="getTempResvSeat" parameterType = "String" resultType = "int">     
		select count(*) from resv_seat  
		where resv_zone = #{selectSeatZone} and resv_num = #{selectSeatNum} and show_code = #{selectShowCode}    
	</select>
	
	<delete id="delTempResvSeat">
		delete from resv_seat where resv_zone = #{selectSeatZone} and resv_num = #{selectSeatNum} and show_code = #{selectShowCode}
	</delete>

</mapper>