<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.MemberMapper">
	
	<select id="getTime" resultType="string">
		select now()
	</select>
	
	<insert id="insertMember">
		insert into tbl_member (member_code, member_name, id, password, email, phone, address, isMember) values
		(nextmemcode(), #{memberName}, #{id}, password(#{password}), #{email}, #{phone}, #{address}, #{isMember});
	</insert>
	
	<select id="readMember" resultType="MemberVO">
		select * from tbl_member
		where id = #{id}
	</select>
	
	<select id="selectMemberAll" resultType="MemberVO">
		select * from tbl_member
	</select>
	
	<update id="updateMember">
		update tbl_member
		set password = password(#{password}), email = #{email}, phone = #{phone}, address = #{address}
		where id = #{id}
	</update>
	
	<delete id="deleteMember">
		delete from tbl_member
		where id = #{id}
	</delete>
	
	<select id="read" resultType="MemberVO">
		select * from tbl_member
		where id = #{userid} and password = password(#{userpw})
	</select>
	
	<!-- 아이디 -->
	<select id="idDuplicateChk" parameterType = "String" resultType ="int">
		SELECT COUNT(*) FROM tbl_member WHERE id = #{id}    
	</select>
	
	<!-- 나의 예매내역 -->
	<resultMap type="BookVO" id="resultBook">
		<result column="member_code" property="mCode.memberCode"/>
		<result column="show_code" property="sCode.showCode"/>
		<result column="show_name" property="sCode.showName"/>
		<result column="payment_code" property="pCode.paymentCode"/>
		<result column="discount_code" property="dCode.discountCode"/>
		<result column="show_image_path" property="sCode.showImagePath"/>
		<result column="show_type" property="sCode.showType"/>
	</resultMap>
	
	<select id="selectMyBookList" resultMap="resultBook">
		select book_number, member_code, book.show_code, payment_code, discount_code, book_date, book_time, book_state, 
		book_zone, book_num, seat_grade, book.seat_category, show_name, show_image_path, show_type            
		from book join performance p on book.show_code = p.show_code
		where member_code = #{memberCode}
	</select>
	
	<!-- 공연종류 -->
	<select id="getCountA" resultType="int">
		select count(*)           
		from book join performance p on book.show_code = p.show_code
		where member_code = #{memberCode} and show_type='A'
	</select>
	
	<select id="getCountB" resultType="int">
		select count(*)           
		from book join performance p on book.show_code = p.show_code
		where member_code = #{memberCode} and show_type='B'
	</select>
	
	<select id="getCountC" resultType="int">
		select count(*)           
		from book join performance p on book.show_code = p.show_code
		where member_code = #{memberCode} and show_type='C'
	</select>
	
	<select id="getCountD" resultType="int">
		select count(*)           
		from book join performance p on book.show_code = p.show_code
		where member_code = #{memberCode} and show_type='D'
	</select>
	
	<select id="getCountE" resultType="int">
		select count(*)           
		from book join performance p on book.show_code = p.show_code
		where member_code = #{memberCode} and show_type='E'
	</select>
	
	<!-- 연도별 검색 -->
	<select id="selectBookListByYear" resultMap="resultBook">
		select book_number, member_code, book.show_code, payment_code, discount_code, book_date, book_time, book_state, 
		book_zone, book_num, seat_grade, book.seat_category, show_name, show_image_path, show_type            
		from book join performance p on book.show_code = p.show_code
		<include refid="searchSql"/>
	</select>
	
	<sql id="searchSql">
		<if test="year != null">
			where member_code = #{memberCode} and year(book_date) = #{year}
		</if>
		<if test="year == ''">
			where member_code = #{memberCode}
		</if>
	</sql>

	

</mapper>